.DS_Store
MyInstagram/MyInstagram.xcodeproj/project.xcworkspace/xcuserdata/ivanznak.xcuserdatad/UserInterfaceState.xcuserstate
MyInstagram/MyInstagram.xcodeproj/xcuserdata
MyInstagram/MyInstagram.xcodeproj/xcuserdata/ivanznak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
